:root {
	--foothills: #233d58;
	--wash: #f0f1f3;
	--sunset: #d19d4d;
	--main-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.slidev-layout {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: var(--foothills);
	color: var(--wash);
	display: flex;
	flex-direction: column;
	justify-content: center;

	.little {
		color: color-mix(in srgb, var(--sunset) 75%, gray 25%);
		opacity: 0.75;
	}

	p {
		opacity: 1.0 !important;
		color: var(--wash) !important;
		font-size: 2.5em;
		line-height: 1em;
		padding-bottom: 0.55em;
	}

	h1,
	h2,
	h3 {
		color: var(--sunset);
		font-weight: bold;
		line-height: 1.5em;
		padding-bottom: 0.25em;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 3em;
	}

}