:root {
	--foothills: #233d58;
	--wash: #f0f1f3;
	--sunset: #d19d4d;
}

.wash {
	color: var(--wash);
}

.fade-wash {
	color: var(--wash);
	opacity: 0.5;
}

.slide-count {
	color: var(--wash);
	font-size: 0.5em;
	opacity: 0.5;
	vertical-align: middle;
}

.sunset {
	color: var(--sunset);
}

.tight {
	margin-bottom: -1em;
}

strong {
	color: var(--sunset);
}

.shiki {
	font-size: 2em !important;
	border-radius: 0.25em !important;
	line-height: 1.5em !important;
	margin-bottom: 0.25em;
}

.smaller .shiki {
	font-size: 1.3333em !important;
}

.smallest .shiki {
	font-size: 1.125em !important;
}

@font-face {
	font-family: "apex-predator";
	src: url("./fonts/ap-400.woff2") format("woff2"), url("./fonts/ap-400.woff") format("woff"),
		url("./fonts/ap-400.otf") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "apex-predator";
	src: url("./fonts/ap-700.woff2") format("woff2"), url("./fonts/ap-700.woff") format("woff"),
		url("./fonts/ap-700.otf") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: "apex-predator";
	src: url("./fonts/ap-400-italic.woff2") format("woff2"),
		url("./fonts/ap-400-italic.woff") format("woff"),
		url("./fonts/ap-400-italic.otf") format("opentype");
	font-display: auto;
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "dragonfly";
	src: url("./fonts/d-400-italic.woff2") format("woff2"),
		url("./fonts/d-400-italic.woff") format("woff"),
		url("./fonts/d-400-italic.otf") format("opentype");
	font-display: auto;
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "dragonfly";
	src: url("./fonts/d-700.woff2") format("woff2"), url("./fonts/d-700.woff") format("woff"),
		url("./fonts/d-700.otf") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: "dragonfly";
	src: url("./fonts/d-400.woff2") format("woff2"), url("./fonts/d-400.woff") format("woff"),
		url("./fonts/d-400.otf") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

.slidev-vclick-target {
	transition: all 0.25s ease-out;
}

.slidev-vclick-hidden {
	opacity: 0;
	/* transform: translateX(100%); */
}

.slidev-layout {
	font-family: "apex-predator", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: var(--foothills);
	color: var(--wash);
	display: flex;
	flex-direction: column;
	justify-content: center;

	.little {
		color: var(--sunset);
		opacity: 0.75;
	}

	.bottom-out {
		font-size: 0.5em;
		position: absolute;
		display: flex;
		width: 100%;
		padding-right: 6.5em;
		/* i literally have no idea why 6.5em works but let's move on */
		align-content: center;
		justify-content: center;
		bottom: 0;
	}

	li,
	ol {
		font-size: 2.666em;
	}

	p {
		opacity: 1 !important;
		color: var(--wash) !important;
		font-size: 2.666em;
		line-height: 1.25em;
		padding-bottom: 0.55em;
	}

	p:last-of-type {
		padding-bottom: 0 !important;
	}

	h1,
	h2,
	h3 {
		font-family: "apex-predator", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: color-mix(in srgb, var(--wash) 75%, white 25%);
		font-weight: bold;
		line-height: 1em;
		padding-bottom: 0.5em;
	}

	h1 strong,
	h2 strong,
	h3 strong {
		color: var(--sunset);
	}

	h1 {
		font-size: 3.75em !important;
	}

	h2 {
		font-size: 3.25em;
	}

	h3 {
		font-size: 2.75em;
	}
}